* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24px;
}

ul, ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

h2.allh2 {
  font-size: 3.813vw;
  line-height: 92px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 40vw;
  margin-top: 15vh;
  margin-bottom: 2em;
}

div.menu-price, form.menu-price {
  margin: 2em 0;
  background-color: #1E363F;
  width: 25vw;
  height: 47vh;
  border-radius: 20px;
}

div.menu-price h3, div.menu-price span, div.menu-price ul li, form.menu-price h3, form.menu-price span, form.menu-price ul li {
  text-align: center;
  text-transform: capitalize;
  padding: 1em;
  line-height: 1em;
  font-size: 1.7vw;
  font-weight: 700;
  border-bottom: 1px solid #000000;
}

div.menu-price span, form.menu-price span {
  font-weight: 900;
  line-height: 25px;
  font-size: 1.8vw;
  display: inline-block;
  border-bottom: 1px solid #000000;
  width: 100%;
}

div.menu-price ul li, form.menu-price ul li {
  font-weight: 400;
  line-height: 15px;
  font-size: 1vw;
  border: none;
  padding-bottom: 0;
}

div.menu-price button, form.menu-price button {
  background-color: #EFEFEF;
  width: 80%;
  margin: 1em 1.8vw;
  border-radius: 1vw;
  padding: 1em 0.875vw;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

nav ul img {
  display: none;
}

nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 12vh;
  z-index: 1;
  border-bottom: 2px solid #fff;
  padding-top: 2.5em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  white-space: nowrap;
  margin-left: 7em;
  margin-right: 7em;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 28px;
  color: #f1f1f1;
  font-size: 1.438vw;
  margin-right: 3em;
}

nav ul li a:hover {
  border-bottom: 5px solid;
}

#home-page {
  height: 100vh;
  background-image: url(/Imgs/homebg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: 5px solid #fff;
}

#home-page h1 {
  text-align: center;
  position: relative;
  top: 80vh;
  font-weight: 900;
  font-size: 5.75vw;
  text-transform: uppercase;
}

#home-page h1 span {
  display: block;
  font-weight: 200;
  padding-top: 1em;
}

main #about-me {
  height: 100vh;
  margin-bottom: 5em;
  border: 5px solid #fff;
  width: 100vw;
}

main #about-me div.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #about-me div.flex-wrapper > div {
  width: 35vw;
  max-width: 50vw;
  height: 55vh;
  max-height: 50vh;
}

main #about-me div.flex-wrapper > div img {
  height: 100%;
  width: 100%;
}

main #about-me div.flex-wrapper blockquote {
  width: 35vw;
  height: 55vh;
  max-height: 50vh;
}

main #about-me div.flex-wrapper blockquote p {
  font-weight: 300;
  font-size: 1.1vw;
  line-height: 2em;
}

main #about-me div.flex-wrapper blockquote footer {
  font-size: 1.25vw;
  line-height: 1.875em;
  font-weight: 700;
}

main #portfolio {
  max-height: 100%;
  height: 100vh;
  max-width: 100%;
  width: 100vw;
  margin-left: 2rem;
  margin-right: 2rem;
}

main #portfolio > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  margin: 1em 9rem;
}

main #portfolio > div img {
  width: 80%;
  max-width: 100%;
  max-height: 50vh;
  height: 20vh;
}

main #portfolio > div img:hover {
  width: 90%;
  height: auto;
}

main #prices {
  height: 100vh;
  width: 100vw;
  line-height: 1em;
}

main #prices p {
  font-weight: 300;
  margin: 0 auto;
  width: 84vw;
  font-size: 1.125vw;
  padding-bottom: 7vh;
}

main #prices div.flex-wrapper-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #contact {
  height: 100vh;
  width: auto;
  margin: 5vw;
}

main #contact form {
  margin: 0 auto;
}

main #contact form fieldset {
  border: none;
}

main #contact form fieldset legend {
  text-align: center;
  padding: 1em 2em;
  font-size: 2vw;
  text-transform: uppercase;
}

main #contact form fieldset label {
  text-transform: capitalize;
  display: inline-block;
  margin: 1em 2em;
}

main #contact form fieldset input {
  display: block;
  margin: 0 auto;
  width: 80%;
}

main #contact form fieldset button {
  margin-left: 3vw;
  margin-top: 5vh;
  padding-top: 2vh;
}

main #contact div.social-media {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #contact div.social-media img {
  width: 50%;
  height: auto;
  padding-left: 1em;
}

footer {
  text-align: center;
}

footer span {
  display: block;
  padding-bottom: 2vh;
}

@media only screen and (max-width: 760px) {
  main {
    max-width: 100vw;
    max-height: 100vh;
    font-size: 100%;
  }
  main div.flex-wrapper-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #about-me div.flex-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #about-me div.flex-wrapper div {
    height: 35vh;
    width: 100vw;
    margin-bottom: 5px;
  }
  main #about-me div.flex-wrapper p {
    font-size: 1vw;
    width: 60vw;
  }
  main #portfolio {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  main #portfolio > div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main #portfolio > div img {
    width: 50vw;
  }
  nav ul img {
    display: block;
    width: 20px;
  }
  div.menu-price, form.menu-price {
    width: 50vw;
    height: 35vh;
  }
  div.menu-price button, form.menu-price button {
    width: 90%;
    height: 4vh;
    white-space: nowrap;
    padding-bottom: 30px;
    padding-top: 0;
    position: -webkit-sticky;
    position: sticky;
  }
  div.menu-price h3, div.menu-price span, form.menu-price h3, form.menu-price span {
    text-align: center;
    padding: 2em;
    font-size: 1.7vw;
    font-weight: 700;
  }
  #send-btn {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */