$page-font-family: 'Epilogue', sans-serif;
$page-font-size: 16px;
$page-font-weight:(
    "grande": 900,
    "bold": 700,
    "regular": 400,
    "lighter": 300,
    "light": 200,

);
$page-bg-color: #444;
$page-primary-color: #f1f1f1;
$page-secondary-color: #fff;
$page-btn-bg-color: #EFEFEF;
$page-forms-bg-color:#1E363F;
